@mixin main-style($padding-top: 200px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: $padding-top;
  }